workflow/AI-News-to-LinkedIn-Automation.json
{
  "name": "Automated-AI-Image-Post-Generator",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1dr7DeSUMkRCC5epveSDhnVrnlYGqXdMDLYxodXGP_oc",
          "mode": "list",
          "cachedResultName": "News Articles",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dr7DeSUMkRCC5epveSDhnVrnlYGqXdMDLYxodXGP_oc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Links",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dr7DeSUMkRCC5epveSDhnVrnlYGqXdMDLYxodXGP_oc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -48
      ],
      "id": "49e51c21-0c7d-453b-bac2-f9ba56982125",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "7NPqLIqN3woCnXzi",
          "name": "Google Sheets Trigger account 3103"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the article at {{ $json['News Links'] }} and create an executive news brief.\n\nInclude:\n\n* A 2–3 sentence summary of the article.\n* The main event or announcement.\n* Key people, companies, organizations, and locations mentioned.\n* Important facts, figures, and dates.\n* Potential implications for businesses, consumers, investors, or policymakers.\n* A one-sentence takeaway.\n\nFormat the response in clean Markdown with headings and bullet points. Keep the summary concise, accurate, and easy to scan.\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        224,
        -48
      ],
      "id": "b98b6ace-2810-42b9-93ab-c4c4026f7335",
      "name": "Summarize Article"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        304,
        176
      ],
      "id": "16ec1e25-fa0c-4b4b-93ba-881a9e526747",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "uqjIlHKTly9yZjrk",
          "name": "Google Gemini(PaLM) Api account 7870"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        656,
        176
      ],
      "id": "8921a2b5-ad31-44bb-8682-5cf49dc85bef",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "RYAxcPw9vdelWJHF",
          "name": "Google Gemini(PaLM) Api account 8002"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1008,
        176
      ],
      "id": "467fc555-68d9-4f7f-a418-5b099f45d8ee",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "RYAxcPw9vdelWJHF",
          "name": "Google Gemini(PaLM) Api account 8002"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Assume the role of an Industry expert and create a ready-to-post LinkedIn content discussing key points from the provided news article relevant to artificial intelligence. \nThe post should provide insightful analysis, connect with current industry trends, and encourage professional engagement. \nHighlight notable implications for the industry and include a professional call to action.\nMake the post informative, structured, under 3000 characters, and ready to copy-paste directly to LinkedIn without any modifications.\n\nArticle summary: {{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        576,
        -48
      ],
      "id": "51a732c1-e823-4173-a4f1-1670537ea2dc",
      "name": "Create LinkedIn Post"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a concise image prompt (max 50 words) for a LinkedIn post visual based on this AI article summary. \nFocus on modern, professional imagery with technology/business themes. \nUse clear descriptive terms suitable for AI image generation. {{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        928,
        -48
      ],
      "id": "192339c5-f2d1-432c-80cd-998bbe507e9f",
      "name": "Generate Image Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/black-forest-labs/FLUX.1-schnell",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "image/jpeg"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputs",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "image.jpg"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1280,
        -48
      ],
      "id": "415a6268-27bf-42ee-8071-261ec4488ff7",
      "name": "HTTP Request",
      "credentials": {
        "huggingFaceApi": {
          "id": "dzJIPlA12OP2YV4n",
          "name": "Hugging Face account 2"
        }
      }
    },
    {
      "parameters": {
        "person": "MiVh4Kiynr",
        "text": "={{ $('Create LinkedIn Post').item.json.text }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "=image.jpg",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1504,
        -48
      ],
      "id": "e4fb90f0-1a11-4cbc-aae9-b6b8ae43edb2",
      "name": "Post to LinkedIn",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "H3lP10nXGBT7GgD1",
          "name": "LinkedIn account 3158"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Summarize Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Article",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Create LinkedIn Post",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Image Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Article": {
      "main": [
        [
          {
            "node": "Create LinkedIn Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create LinkedIn Post": {
      "main": [
        [
          {
            "node": "Generate Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image Prompt": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "be0cf6a4-d53f-41c6-a129-d72e8d6c44b3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "0nBhrr4eSxySDuR5",
  "tags": []
}